body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#search-movie-input::placeholder {
  color: white;
  font-weight: 600;
}

#search-movie-input:focus, #search-movie-input:hover {
  outline:0px;
}

.movie-poster {
  width: 350px;
  height: 500px;
  font-size: 30px;
}